// out: ../style/main.css, sourcemap: false, compress: true
a, input {
    &.btn {
        font-weight: bold;
        font-size: 16px;
        font-family: serif;
        display: inline-block;
        padding: 5px 20px;
        text-align: center;
        border: 1px solid darkgray;
        border-radius: 2px;
        text-decoration: none;
    }
    &.btn-primary {
        background-color: darkblue;
        color: white;

    }
}

.tools {
    &.results {
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &>div {
                width: 33%;
                min-width: 250px;
                max-width: 500px;

                margin: 5px;
                padding: 0 10px;
                border-radius: 15px;

                th {
                    line-height: 2em;
                    text-align: left;
                    vertical-align: middle;
                }

                &.mine {
                    background-color: rgba(30, 168, 79, 0.1);
                }
                &.comparison {
                    background-color: rgba(56, 117, 18, 0.1);
                }
                &.mean {
                    background-color: rgba(71, 219, 18, 0.1);
                }
            }
        }
        .trafficlight {
            img {
                vertical-align: middle;
            }
            p, div {
                margin: 0px;
                padding: 0px;

                height: 2em;
            }
        }
    }

    &>.tools {
        list-style-type: none;

        ul {
            list-style-type: none;
        }
    }
    /*
    &>.tools {
        .toolcategory {
            font-weight: bold;
            text-align: center;
            background-color: darkgray;
            color: white;
        }
        .archetype {
            background-color: lightgray;
            text-align: center;
            font-weight: bold;
        }
        .tool {
            text-align: center;
            text-decoration: none;
        }
    }
    */
}

.onetimepassword {
    .countdown {
        &.expired {
            background-color: darkred;
        }
    }
}

.navigation {
    display: flex;
    justify-content: center;
    &>div {
        width: 250px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }
}

.alert {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    &.alert-danger {
        background-color: rgba(255,0,0,0.2);
        border-color: darkred;
    }
    &.alert-info {
        background-color: rgba(0,0,255,0.2);
        border-color: blue;
    }
    &.alert-success {
        background-color: rgba(0,255,0,0.2);
        border-color: green;
    }
    &.alert-inline {
        display: inline-block;
    }
}
