<div class="dashboard">
    <div class="tools">
        {{# archetypes }}
            <div class="archetype">{{ name }}</div>
            {{# tools }}
            <div id="tool-{{ id }}">
                <a href="#">
                    {{ name }}
                </a>
            </div>
            {{/ tools }}
        {{/ archetypes }}
    </div>
    <div class="tool">
    </div>
</div>
