<div class="dashboard">
    <div class="tools">
        {{#toolcategories}}
            <div class="toolcategory">{{category}}</div>
            {{#archetypes}}
                <div class="archetype">{{archetype}}</div>
                {{#tools}}
                <div id="tool-{{id}}" class="tool">
                    <a href="{{toolurl}}">
                        {{name}}
                    </a>
                </div>
                {{/tools}}
            {{/archetypes}}
        {{/toolcategories}}

    </div>
</div>
