
<form method="POST" action="" id="langselector-{{uniqid}}" style="display: inline;">
    <div class="select-wrapper as-anchor">
    <select name="setlanguage" onchange="document.getElementById('langselector-{{uniqid}}').submit();">
        {{#languages}}
            <option value="{{lang}}"{{#selected}} selected="selected"{{/selected}}>{{caption}}</option>
        {{/languages}}
    </select>
    </div>
</form>
