<div class="navigation" style="display: flex;">
    <div>
        <a href="{{wwwroot}}/persona/index.php">
            {{#str}} persona, persona {{/str}}
        </a>
    </div>
    <div>
        <a href="{{wwwroot}}/tools/index.php">
            {{#str}} tools, core {{/str}}
        </a>
    </div>
    <div>
        <a href="{{wwwroot}}/login/logout.php">
            {{#str}} logout, login {{/str}}
        </a>
    </div>
    <div>
        <a href="{{wwwroot}}/info/index.php">
            {{#str}} learn_more, info {{/str}}
        </a>
    </div>
</div>
