<!DOCTYPE html>

<html>
    <head>
        <title>{{#str}} welcome, login {{/str}}</title>
    </head>
    <body>
    </body>
</html>


<div class="login">
    <h3>{{#str}} onetimepassword, login {{/str}}</h3>
    <p>{{#str}} onetimepassword_text, login {{/str}}</p>
    <p>{{#str}} onetimepassword_link, login, , { {{onetimepassword}} } {{/str}}</p>
    <p><strong>{{ onetimepassword }}</strong></p>
    <a href="{{ proceed_url }}" target="_blank">
        {{#str}} proceed, login {{/str}}
    </a>
</div>
