<!DOCTYPE html>

<html>
    <head>
        <title>{{ str_welcome }}</title>
    </head>
    <body>
    </body>
</html>


<div class="login" style="margin: 50px 100px;">
    <h3>{{ str_onetimepassword }}</h3>
    <p>{{ str_onetimepassword_text }}</p>
    <p>{{ str_onetimepassword_link }}</p>
    <a href="{{ proceed_url }}" target="_blank">
        {{ str_proceed }}: {{ onetimepassword }}
    </a>
</div>
