<div class="login" style="margin: 50px 100px;">
    <h3>{{ str_welcome }}</h3>
    <p>{{ str_welcome_text }}</p>
    <p>{{ str_enter_email }}</p>
    <form method="POST" action="">
        <input type="email" placeholder="{{ str_email_dummy }}" />
        <input type="submit" value="{{ str_proceed }}" />
    </form>
</div>
