<div class="login logout" style="margin: 50px 100px;">
    <h3>{{#str}} logout, login {{/str}}</h3>
    <p>{{#str}} logout_text, login {{/str}}</p>
    <a href="{{ url_logout }}" class="btn btn-primary">
        {{#str}} logout, login {{/str}}
    </a>
</div>
