<div class="login logout">
    <h3>{{#str}} logout, login {{/str}}</h3>
    <p>{{#str}} logout_text, login {{/str}}</p>
    <a href="{{ url_logout }}" class="btn btn-primary">
        <i class="fas fa-sign-out-alt"></i>
        {{#str}} logout, login {{/str}}
    </a>
</div>
