<div class="login logout" style="margin: 50px 100px;">
    <h3>{{ str_logout }}</h3>
    <p>{{ str_logout_text }}</p>
    <a href="{{ url_logout }}" class="btn btn-primary">
        {{ str_proceed }}
    </a>
</div>
