<div class="login onetimepassword" style="margin: 50px 100px;">
    <h3>{{ str_onetimepassword }}</h3>
    <p>{{ str_onetimepassword_text }}</p>
    <p>{{ str_onetimepassword_enter }}</p>

    <form method="POST" action="">
        <input type="text" name="onetimepassword" placeholder="{{ str_onetimepassword_enter }}" />
        <input type="submit" value="{{ str_proceed }}" />
    </form>

    <div id="onetimepassword_countdown" class="countdown">
        <span id="onetimepassword_minutes"></span>
        <span>:</span>
        <span id="onetimepassword_seconds"></span>
    </div>
</div>

<script type="text/javascript">

var countdown = setInterval(function() {
    var tb = {{ passwordcreated }} * 1000;
    var tt = tb + 5*60*1000;
    var tn = new Date().getTime();
    var tl = tt - tn;

    var minutes = Math.floor((tl % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((tl % (1000 * 60)) / 1000);
    if (minutes < 0 || seconds < 0) {
        document.getElementById('onetimepassword_countdown').innerHTML = '{{ str_onetimepassword_expired }}';
        document.getElementById('onetimepassword_countdown').className = 'countdown expired';
        clearInterval(countdown);
        setTimeout(function() {
            location.href = '{{ url_login }}';
        }, 1000);
    } else {
        document.getElementById('onetimepassword_minutes').innerHTML = ("00" + minutes).slice(-2);
        document.getElementById('onetimepassword_seconds').innerHTML = ("00" + seconds).slice(-2);
    }
}, 200);
</script>
