<div class="sharings">
    <h3>
        <a href="{{CFG.wwwroot}}/tools/index.php?id={{tool.id}}"
            class="btn btn-primary">
            <i class="fas fa-arrow-circle-left"></i>
            {{#str}} back, results {{/str}}
        </a>
    </h3>
    <p>{{#str}} sharings_description, results, , { "toolname": "{{tool.name}}" } {{/str}}</p>

    <h4>{{#str}} sharings, results, , { "toolname": "{{tool.name}}" } {{/str}}</h4>

    <table border="0" width="100%">
        {{#sharings}}
            <tr{{#timeexpired}} style="color: red"{{/timeexpired}}>
                <td width="100">
                    {{#timeexpired}}
                        {{#str}} invalid, results {{/str}}
                    {{/timeexpired}}
                    {{^timeexpired}}
                        <a href="{{CFG.wwwroot}}/tools/share.php?id={{estimation.id}}&revoke={{s}}"
                            class="btn btn-block">
                            <i class="fas fa-trash-alt"></i>
                            {{#str}} revoke, results {{/str}}
                        </a>
                    {{/timeexpired}}
                </td>
                <td>
                    <a href="{{CFG.wwwroot}}/tools/results.php?s={{s}}" target="_blank"
                        class="btn btn-secondary btn-block">
                        <i class="fas fa-share-square"></i>
                        {{s}}
                    </a>
                </td>
            </td>
        {{/sharings}}
    </table>
    <div class="row">
        <div class="col-12">
            <a href="{{CFG.wwwroot}}/tools/share.php?id={{estimation.id}}&createshare=1"
                class="btn btn-primary btn-block">
                <i class="fas fa-plus-square"></i>
                {{#str}} share_add, results {{/str}}
            </a>
        </div>
    </div>
</div>
