<div class="tools row">
    <div class="toolslist col-4">
        <h3>{{#str}} tools {{/str}}</h3>
        <form>
            <input type="search" id="search-{{uniqid}}" onkeyup="doSearch_{{uniqid}}();"
                placeholder="{{#str}} search, tools {{/str}}" minlength="3" required />
            <span class="validity"></span>
        </form>
        <ul id="tools-{{uniqid}}">
            {{#toolcategories}}
                <li>
                    {{category}}
                    {{#archetypes}}
                        <ul>
                            {{^toolisarchetype}}
                                <li>
                                    {{archetype}}
                                    <ul>
                                        {{#tools}}
                                            <li class="tool">
                                                {{#hasestimated}}
                                                    <i class="fas fa-check-circle" style="color: green;"></i>
                                                {{/hasestimated}}
                                                {{^hasestimated}}
                                                    <i class="fas fa-check-circle" style="color: darkred;"></i>
                                                {{/hasestimated}}
                                                <a href="{{toolurl}}">
                                                    {{name}}
                                                </a>
                                            </li>
                                        {{/tools}}
                                    </ul>
                                </li>
                            {{/toolisarchetype}}
                            {{#toolisarchetype}}
                                {{#tools}}
                                    <li class="tool">
                                        {{#hasestimated}}
                                            <i class="fas fa-check-circle" style="color: green;"></i>
                                        {{/hasestimated}}
                                        {{^hasestimated}}
                                            <i class="fas fa-check-circle" style="color: darkred;"></i>
                                        {{/hasestimated}}
                                        <a href="{{toolurl}}">
                                            {{name}}
                                        </a>
                                    </li>
                                {{/tools}}
                            {{/toolisarchetype}}

                        </ul>
                    {{/archetypes}}
                </li>
            {{/toolcategories}}
        </ul>
    </div>
    {{#tool.id}}
        {{>tools/tool}}
    {{/tool.id}}
</div>


<script>
function doSearch_{{uniqid}}() {
    var s = document.getElementById('search-{{uniqid}}').value.toLowerCase();
    const lis = document.querySelectorAll("#tools-{{uniqid}} li.tool");
    for (var i = 0; i < lis.length; i++) {
        var li = lis[i];
        if (li.innerText.toLowerCase().indexOf(s) == -1) {
            li.style.display = 'none';
        } else {
            li.style.display = '';
        }
    }

}
</script>
