<div class="info about">
    <a href="{{CFG.wwwroot}}" class="btn btn-primary">
        <i class="fa fa-arrow-circle-left"></i>
        back
    </a>
    <h3>Info Page</h3>
    <div class="info-page">
        <div class="info-card">
            <h4>What are digital footprints?</h4>
            <p>
                Digital Footprints are digital artefacts that persist, whenever
                you use a digital tool, platform or service. Such artefacts can
                differ by quantity and quality. They may range from files you share
                willingly, like photographs, texts or posts, things you like, mention
                or comment, but they can also be recorded behind the scenes data you
                leave in server logs, cookies and such.
            </p>
        </div>
        <div class="info-card">
            <h4>What does this mean to me?</h4>
            <p>
                Researchers have investigated in digital footprints since many years
                and found, that they mostly have negative consequences for individuals.
                It makes them more transparent and vulnerable to marketing campaigns
                and other influences. Further, some of the digital footprints have the
                potential to harm somebodies reputation after years and destroy one's career.
                On the other hand, researchers also found positive effects of digital
                footprints, when they are used consciously. A complete understanding
                of digital footprints is lacking, as a 'measurement' depends on cultural,
                moral and invidual beliefs and convictions.
            </p>
        </div>
        <div class="info-card">
            <h4>What does this site offer?</h4>
            <p>
                This site offers an easy to use tool to estimate, how a particular
                digital tool affects the personal digital footprints based on a subjective
                perception. Users receive a recommendation in textual and visual form,
                and a comparison with the mean estimation.
            </p>
        </div>
        <div class="info-card">
            <h4>Why is demographic data raised?</h4>
            <p>
                The demographic data is raised for scientific purposes to prove the model.
                The model until now not empirically verified. It may be verified in the future
                using also your contribution. Until then, it serves as a starting point
                for reflection about your usage behaviour of online tools.
            </p>
        </div>
        <div class="info-card">
            <h4>Is the raised data secure?</h4>
            <p>
                Before you can use this tool, some demographic data must be entered. Please
                note, that the only attribute that may be used for identification, which
                is your mail address, is only stored hashed and salted. That means, that
                the use of a unidirectional hashing algorithm together with the use of
                a unique "salt", your mailaddress is made unreadable. Also, if the whole
                database was leaked, nobody would be able to re-identify the mail address
                without knowledge of the salt.
            </p>
        </div>
        <div class="info-card">
            <h4>Who is responsible for this site?</h4>
            <p>
                In case you have further questions or suggestions, please contact <a href="mailto:{{CFG.contactmail}}"><i class="fa fa-paper-plane"></i> {{CFG.contactperson}}</a>
            </p>
        </div>
    </div>
</div>
